/* .game-container {
    margin: 0 auto;
    position: relative;
    width: 704px;
} */

#board-canvas {
    border: 1px solid black;
    /* background: forestgreen; */
    /* display: flex; */
    position: absolute; left: 100px; top: 100px; z-index: -1;
}

#entity-canvas {
    border: 1px solid black;
    position: absolute; left: 100px; top: 100px; z-index: 1;
}